*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    caret-color: transparent;
}
*:focus{
    outline:none;
}
.game{
    width: 500px;
    height: 500px;
    background-color: forestgreen;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
    z-index: 0;
}
#character{
    width: 50px;
    height: 50px;
    outline: 1px solid black;
    background-color: red;
    position:absolute;
    left: 500px;
    top: 100px;
    z-index: 4;
}

#water{
    width:400px;
    height:350px;
    background-color:rgb(28, 101, 174);
    border: 2px solid blue;
   position: absolute;
   top:150px;
   left:675px;
   z-index: 1;
}
#bridge{
    width: 150px;
    height: 300px;
    background-color:rgb(157, 96, 22);
    border: 1px solid rgb(96, 56, 13);
    position: absolute;
    top:150px;
    left: 775px;
    z-index: 2;
}
#inventory{
    position: absolute;
    top: 10px;
    left:1000px;
    z-index: 5;
}

#cooler{
    width:80px;
    height:40px;
    background-color: rgb(203, 116, 35);
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-family: Impact;
}

p{
    text-align: center;
}
