*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    caret-color: transparent;
}
*:focus{
    outline:none;
}
.game{
    width: 500px;
    height: 500px;
    background-color: forestgreen;
    border: 5px solid black;
    margin: auto;
    position: fixed;
    left: 575px;
    overflow: hidden;
    z-index: 0;
}

#storage{
    position: fixed;
    width: 400px;
    height: 400px;
    left: 625px;
    top:50px;
    opacity: 90%;
    background-color: rgb(181, 244, 255);
    border: 5px solid blue;
    border-radius: 5%;
}
#character{
    width: 50px;
    height: 50px;
    outline: 1px solid black;
    background-color: red;
    position:fixed;
    left: 500px;
    top: 100px;
    z-index: 4;
}

#water{
    width:400px;
    height:350px;
    background-color:rgb(28, 101, 174);
    border: 2px solid blue;
   position: fixed;
   top:150px;
   left:675px;
   z-index: 1;
}
#bridge{
    width: 150px;
    height: 300px;
    background-color:rgb(157, 96, 22);
    border: 1px solid rgb(96, 56, 13);
    position: fixed;
    top:150px;
    left: 775px;
    z-index: 2;
}
#inventory{
    position: fixed;
    top: 10px;
    left:1000px;
    z-index: 5;
}

#closeStorage{
    position:absolute;
    width:25px;
    height: 25px;
    font-weight: bold;
    top:5px;
    right: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: rgb(231, 48, 48);
}

#container{
    position:relative;
    background-color: rgb(162, 244, 247);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.pkmn{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
    text-align: center;
    font-family: Helvetica, sans-serif;
    border: grey solid 1px;
    border-radius: 10px;
    padding: 1rem;
    width: 14rem;
    height: 14rem;
    display: inline-grid;
    margin: 2rem 4rem;
    overflow: hidden;
    box-shadow: 3px 5px blue;
  }

  #goldTally {
    text-align: left;
    position:absolute;
    left:5px;
    top: 5px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
    color:rgb(255, 216, 43);
    font-family: "impact";
    z-index: 5;
  }

  .stats{
    text-align: left;
    text-transform: capitalize;
    background-color: rgb(202, 255, 255);
    border-radius: 10px;
    border: aqua solid 2px;
    width: 150px;
    height: 100px;
    z-index: 6;
    position:absolute;

  }


#cooler{
    width:80px;
    height:40px;
    background-color: rgb(203, 116, 35);
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-family: Impact;
}

p{
    text-align: center;
}
